<div class="ui container">
  <div class="ui secondary pointing menu">
    <a routerLink="/" class="item">Gourmandish</a>
    <div class="right menu">
      <ng-container *ngIf="signedIn$ | async">
        <a
          class="ui item"
          routerLink="/create-recipe"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >Add recipe</a
        >

        <a
          class="ui item"
          routerLink="/recipe-list"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >My Cookbook</a
        >
        <a
          class="ui item"
          routerLink="/favorites"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >My Favorites</a
        >
        <a class="ui item" (click)="signOut()"
          >Sign Out, {{ currentUserData.username }}</a
        >
      </ng-container>
      <ng-container *ngIf="!(signedIn$ | async)">
        <a
          class="ui item"
          routerLink="/recipe-list"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >All recipes</a
        >
        <a
          class="ui item"
          routerLink="/signin"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >Sign In</a
        >
        <a
          class="ui item"
          routerLink="/signup"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >Sign Up</a
        >
      </ng-container>
    </div>
  </div>
</div>
