<nav
  class="navbar is-fixed-top mb-6"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">
      <img src="./assets/logo.png" width="112" height="28" />
    </a>

    <a
      #navBurger
      (click)="toggleNavbar()"
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div #navMenu class="navbar-menu is-size-6">
    <div class="navbar-start"></div>

    <div class="navbar-end">
      <ng-container *ngIf="signedIn$ | async">
        <div class="field pt-3 pr-2">
          <div class="control has-icons-left">
            <input
              class="input is-small is-rounded has-text-primary"
              type="text"
              placeholder="Search recipes..."
              (keyup)="searchRecipes($event)"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </div>

        <div class="navbar-item">
          <div class="buttons">
            <a
              class="button is-primary"
              routerLink="/create-recipe"
              routerLinkActiveOptions="{ exact: true }"
              routerLinkActive="active"
            >
              <strong>Add recipe</strong>
            </a>
          </div>
        </div>

        <a
          class="navbar-item"
          routerLink="/recipe-list"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >My Cookbook</a
        >
        <a
          class="navbar-item"
          routerLink="/favorites"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >My Favorites</a
        >

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> My Account </a>

          <div class="navbar-dropdown">
            <a class="navbar-item"> Settings </a>

            <hr class="navbar-divider" />
            <a class="navbar-item" (click)="signOut()"
              >Sign Out, {{ currentUserData.username }}</a
            >
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!(signedIn$ | async)">
        <a
          class="navbar-item"
          routerLink="/recipe-list"
          routerLinkActiveOptions="{ exact: true }"
          routerLinkActive="active"
          >All recipes</a
        >

        <div class="navbar-item">
          <div class="buttons">
            <a
              class="button is-primary"
              routerLink="/signin"
              routerLinkActiveOptions="{ exact: true }"
              routerLinkActive="active"
            >
              <strong>Sign In</strong>
            </a>
            <a
              class="button is-light"
              routerLink="/signup"
              routerLinkActiveOptions="{ exact: true }"
              routerLinkActive="active"
            >
              Sign Up
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</nav>
