<section class="container">
  <div class="columns is-multiline" *ngIf="recipe">
    <div class="column">
      <div class="columns">
        <div class="column left box is-4">
          <figure class="image is-square">
            <img [src]="recipe.imagePath" />
          </figure>
        </div>
        <div class="column right has-text-left is-8">
          <div class="card p-5">
            <p class="is-size-2 has-text-primary">{{ recipe.title }}</p>
            <div class="media">
              <div class="media-left">
                <figure class="image is-24x24">
                  <img
                    class="is-rounded"
                    [src]="recipe.creator.avatar"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p>
                  by
                  <a
                    class="title is-6 has-text-primary"
                    [routerLink]="['/profile-page', recipe.creator._id]"
                  >
                    @{{ recipe.creator.username }}</a
                  >
                  {{ recipe.createdAt | timeAgo }}
                </p>
              </div>
            </div>

            <div class="extra description">
              {{ recipe.description }}
            </div>

            <div class="extra has-text-right">
              <button
                class="button is-primary"
                *ngIf="recipe.creator._id === currentUserId"
                [routerLink]="['/edit-recipe', recipeId]"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
