<div class="card large is-shady" *ngIf="recipe">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="recipe.imagePath" alt="{{ recipe.title }}" />
    </figure>
  </div>
  <div class="card-content is-size-4 has-text-weight-bold has-text-primary">
    <div class="buttons">
      <a [routerLink]="['/recipe-details', recipe._id]">
        {{ recipe.title }}
      </a>
    </div>
  </div>
  <div class="card-content">
    <div class="content">
      {{ recipe.description | slice: 0:100 }}
    </div>

    <div class="media">
      <div class="media-left">
        <figure class="image is-24x24">
          <img
            class="is-rounded"
            [src]="recipe.creator.avatar"
            alt="Placeholder image"
          />
        </figure>
      </div>
      <div class="media-content">
        <p>
          by
          <a
            class="title is-6 has-text-primary"
            [routerLink]="['/profile-page', recipe.creator._id]"
          >
            @{{ recipe.creator.username }}</a
          >
          {{ recipe.createdAt | timeAgo }}
        </p>
      </div>
    </div>

    <div class="content has-text-right">
      <span class="icon-text has-text-secondary" *ngIf="!showLikedStatus()">
        <span class="icon">
          <i class="far fa-heart" (click)="onHeartClick()"></i>
        </span>
        {{ recipe.likes.length }} miams
      </span>
      <span class="icon-text has-text-primary" *ngIf="showLikedStatus()">
        <span class="icon">
          <i class="fas fa-heart" (click)="onHeartClick()"></i>
        </span>
        {{ recipe.likes.length }} miams
      </span>
    </div>
  </div>
</div>
