<div class="container has-background-light has-text-centered">
  <div class="section">
    <div class="columns">
      <div class="column has-text-center">
        <h3 class="title has-text-black is-size-4 has-text-primary">
          {{ header }}
        </h3>
      </div>
    </div>
    <div class="column has-background-primary box">
      <div class="box">
        <form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="recipeForm">
          <app-input
            class="field"
            inputType="text"
            label="Title"
            [control]="recipeForm.get('title')"
          ></app-input>
          <app-textarea
            class="field"
            label="Description"
            [control]="recipeForm.get('description')"
          ></app-textarea>

          <app-image-upload-with-preview
            class="field"
            label="Upload a photo of your dish"
            [imagePath]="recipe.imagePath"
            [control]="recipeForm.get('image')"
            (selectImageEventEmmitter)="selectImage($event)"
          ></app-image-upload-with-preview>

          <div
            *ngIf="
              recipeForm.get('title').touched &&
              recipeForm.get('description').touched &&
              recipeForm.errors
            "
            class="tag is-danger pt-3 m-2"
          ></div>

          <div>
            <button
              class="button is-danger m-3"
              *ngIf="recipe._id"
              (click)="onDelete(recipe._id)"
            >
              Delete
            </button>
            <button class="button is-primary m-3">
              {{ button }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<p>
  -------------- recipeForm errors: {{ recipeForm.errors | json }} -------------
</p>
