<div class="section" *ngIf="user">
  <div class="container">
    <div class="is-hidden-mobile">
      <div>
        <div class="columns is-mobile">
          <div class="column is-1"></div>
          <div class="column">
            <div class="image is-1by1 sui-avatar">
              <img [src]="user.avatar" />
            </div>
          </div>
          <div class="column is-1"></div>
          <div class="column is-two-thirds content">
            <p>
              <span class="title is-bold"
                >{{ user.firstName }} {{ user.lastName }}
              </span>
              <span class="has-text-primary is-bold">@{{ user.username }}</span>
            </p>
            <div>
              <span class="subtitle"
                ><small>
                  {{ following.length }} following -
                  {{ followers.length }} followers</small
                ></span
              >
              <div *ngIf="currentUserId && currentUserId != user._id">
                <button
                  class="button is-primary"
                  (click)="toggleFollow()"
                  *ngIf="!isUserFollowedByCurrentUser()"
                >
                  <i class="user icon"></i>
                  Follow
                </button>
                <button
                  class="button is-secondary"
                  (click)="toggleFollow()"
                  *ngIf="isUserFollowedByCurrentUser()"
                >
                  <i class="user icon"></i>
                  Following
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="is-hidden-tablet">
      <div>
        <div class="columns is-mobile">
          <div class="column">
            <div class="image is-1by1 sui-avatar">
              <img [src]="user.avatar" />
            </div>
          </div>
          <div class="column is-two-thirds">
            <p>
              <span class="title is-bold"
                >{{ user.firstName }} {{ user.lastName }}
              </span>
              <span class="has-text-primary is-bold">@{{ user.username }}</span>
            </p>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <p>
              <span class="subtitle"
                ><small>
                  {{ following.length }} following -
                  {{ followers.length }} followers</small
                ></span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container"><hr /></div>

  <div class="container">
    <div class="profile-items">
      <h1 class="has-text-primary">
        All the recipes published by {{ user.username }}:
      </h1>
      <app-recipe-list></app-recipe-list>
    </div>
  </div>
</div>
