<div class="control">
  <!--<label>{{ label }}</label>-->
  <input
    class="input is-large"
    [formControl]="control"
    [type]="inputType"
    placeholder="{{ label }}"
  />

  <div *ngIf="showErrors()" class="tag is-danger pt-3 m-2">
    <p *ngIf="control.errors.required">Value is required</p>
    <p *ngIf="control.errors.minlength">
      Value must be of min
      {{ control.errors.minlength.requiredLength }} characters. The value you
      entered is {{ control.errors.minlength.actualLength }}.
    </p>
    <p *ngIf="control.errors.maxlength">
      Value must be of max
      {{ control.errors.maxlength.requiredLength }} characters. The value you
      entered is {{ control.errors.maxlength.actualLength }}.
    </p>
    <p *ngIf="control.errors.pattern">Invalid format.</p>
    <p *ngIf="control.errors.usernameNotAvailable">
      This username is already taken.
    </p>
    <p *ngIf="control.errors.unknownError">
      {{ control.errors.unknownError }}
    </p>
  </div>
</div>
