<h3>Create an account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="authForm.get('password')"
  ></app-input>
  <app-input
    inputType="password"
    label="Password confirmation"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>
  <app-input
    inputType="email"
    label="Email"
    [control]="authForm.get('email')"
  ></app-input>
  <app-input
    inputType="text"
    label="First Name"
    [control]="authForm.get('firstName')"
  ></app-input>
  <app-input
    inputType="text"
    label="Last Name"
    [control]="authForm.get('lastName')"
  ></app-input>
  <app-input
    inputType="date"
    label="Birthdate"
    [control]="authForm.get('birthdate')"
    value="2018-07-22"
    min="1900-01-01"
    max="2020-12-31"
  ></app-input>

  <app-input
    inputType="file"
    label="Avatar"
    [control]="authForm.get('avatar')"
  ></app-input>

  <div
    *ngIf="
      authForm.get('password').touched &&
      authForm.get('passwordConfirmation').touched &&
      authForm.errors
    "
    class="ui red basic label"
  >
    <p *ngIf="authForm.errors.passwordsNotMatching">Password don't match.</p>
    <p *ngIf="authForm.errors.accountNotCreated">
      Your account was not created. Email or username already exist.
    </p>
    <p *ngIf="authForm.errors.unknownError">Unknown error.</p>
  </div>
  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
