<label>{{ label }}</label>
<input type="file" (change)="onImageSelected($event)" />

<div *ngIf="imagePreview !== '' && imagePreview && control.valid">
  <img class="ui fluid small rounded image" [src]="imagePreview" />
</div>

<div *ngIf="!imagePreview && imagePath !== '' && imagePath">
  <img class="ui fluid small rounded image" [src]="imagePath" />
</div>

<div *ngIf="showErrors()" class="ui pointing red basic label">
  <p *ngIf="control.errors.invalidMimeType">
    The file you selected is not valid. Please select a valid image.
  </p>
</div>
