<p class="has-text-left has-text-primary p-4">{{ label }}:</p>
<input type="file" (change)="onImageSelected($event)" />

<div *ngIf="imagePreview !== '' && imagePreview && control.valid">
  <figure class="image is-128x128">
    <img [src]="imagePreview" />
  </figure>
</div>

<div *ngIf="!imagePreview && imagePath !== '' && imagePath">
  <figure class="image is-128x128">
    <img [src]="imagePath" />
  </figure>
</div>

<div *ngIf="showErrors()" class="tag is-danger pt-3 m-2">
  <p *ngIf="control.errors.invalidMimeType">
    The file you selected is not valid. Please select a valid image.
  </p>
</div>
